.tsp {
  display: flex;
  flex-direction: column;
  width: 97vw;
  height: 98vh;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1.25rem;
}

.header-image {
  width: 10rem;
  height: 4rem;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-text {
  display: flex;
  flex-direction: column;
}

.header-text-span {
  font-size: 2.5rem;
  color: #106695;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.login-card,
.footer-text,
.footer-buttons,
.login-card-heading-span,
.login-card-email label,
.login-card-password label,
.login-card-checkbox label {
  font-family: 'Poppins', sans-serif; /* Apply Poppins font style */
}

.body {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 97vw;
  height: 100%;
}

.body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-image: url("/public/bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* filter: blur(0.2rem); */
  z-index: -1;
  opacity: 0.5;
}

.login-card {
  display: flex;
  flex-direction: column;
  width: 25rem;
  height: 20rem;
  background-color: white;
  color: black;
  gap: 1rem;
  justify-content: space-between;
  align-items: flex-start;
  padding: 3rem 2rem;
  z-index: 1;
}

.login-card-heading-div {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.login-card-heading-span {
  font-size: 1.8rem;
  font-weight: 700;
}

.login-card-email{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.login-card-email input{
  width: 100%;
  height: 100%;
  padding: 1.25rem 0rem 1.25rem 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid lightgrey;
}
.login-card-password{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}
.login-card-password input{
  width: 100%;
  height: 100%;
  padding: 1.25rem 0rem 1.25rem 0.5rem;
  border-radius: 0.5rem;
  border: 1px solid lightgrey;
}

.login-card-checkbox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
}

.login-card-button{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.login-card-sign-in{
  display: flex;
  flex-direction: row;
  background-color: #106695;
  border: 1px solid #106695;
  color: white;
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 2rem;
  padding: 1rem 0rem;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.login-card-create{
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border: 1px solid #106695;
  color: black;
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 2rem;
  padding: 1rem 0rem;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.tsp-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem 1.25rem;
}
.footer-text{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
}
.footer-text-span{
  font-size: 1.5rem;
}
.footer-buttons{
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}
.footer-button-back-to-home{
  display: flex;
  background-color: transparent;
  border: none;
  font-size: 1.25rem;
  color: black;
  font-weight: 400;
}
.footer-button-Contact-Us{
  display: flex;
  background-color: transparent;
  border: none;
  font-size: 1.25rem;
  color: #106695;
  font-weight: 400;
}